链接在此: [第三章 - 数字日期和时间](https://python-cookbook-3rd-edition.readthedocs.io/zh_CN/latest/chapters/p03_numbers_dates_times.html)

#### rounding numerical values

In [34]:
tips_round = '''
    1  =>  .x      ---  1.56,  1 => 1.6
    2  =>  .xx     ---  1.565, 2 => 1.57
   -1  =>  XX(X)X  ---  1565, -1 => 1570
'''

''' using round '''

# >=5 
round(1.34, 1),\
round(1.35, 1),\
round(1.36, 1)

# in-mid => closest even nums
round(21.5, 0),\
round(20.5, 0), 

# neg val 
round(1759,  0),\
round(1759, -1),\
round(1759, -2)

' using round '

(1.3, 1.4, 1.4)

(22.0, 20.0)

(1759, 1760, 1800)

In [85]:
''' formatting '''

num = 1.2456

f'{num:.1f}'
f'{num:.2f}'
f'{num:.3f}'

' formatting '

'1.2'

'1.25'

'1.246'

In [121]:
''' advanced formatting '''

# syntax: '[<>^]?width[,]?(.digits)?'
num = 1234.5678

f'{num:.2f}'

f'{num:>15.2f}'
f'{num:<15.2f}'
f'{num:^15.2f}'

f'{num:,}'
f'{num:,.1f}'

f'{num:e}'
f'{num:.2e}'
f'{num:.2E}'

' advanced formatting '

'1234.57'

'        1234.57'

'1234.57        '

'    1234.57    '

'1,234.5678'

'1,234.6'

'1.234568e+03'

'1.23e+03'

'1.23E+03'

#### accurate decimal calc

In [54]:
4   + 2
4.1 + 2.1  # 6.19999999...

6

6.199999999999999

In [58]:
# control everything!  (well, decimal calc)

from decimal import Decimal, localcontext

Decimal(1.3)   + Decimal(1.7)    # do use str (NOT int/float)
Decimal('1.3') + Decimal('1.7')

# precision 

with localcontext() as ctx:
    ctx.prec = 20
    Decimal(10 / 7)

Decimal('3.000000000000000000000000000')

Decimal('3.0')

Decimal('1.4285714285714286031492292750044725835323333740234375')

In [84]:
# there's another problem 

from decimal import Decimal 
from math import fsum

# for decimal, everything is fine 
sum(
    [Dec(1.23e+18), Dec(1), Dec(-1.23e+18)]
)

# for normal num, nope!
sum(
    [1.23e+18, 1, -1.23e+18]  # the '1' disappeared!!
)

# use 'fsum' instead!
fsum(
    [1.23e+18, 1, -1.23e+18]  # got what you want ~
)

Decimal('1')

0.0

1.0

#### bin,oct,hex with format

In [133]:
x = 1200

# conv | format
bin(x), format(x, 'b') 
oct(x), format(x, 'o')
hex(x), format(x, 'x')

# conv back
int(bin(x), 2)
int(oct(x), 8)
int(hex(x), 16)

('0b10010110000', '10010110000')

('0o2260', '2260')

('0x4b0', '4b0')

1200

1200

1200

In [134]:
# neg-num
format(-1234, 'b')
format(-1234, 'x')

# no-neg (unsigned)
format(2 ** 32 + (-1234), 'b')
format(2 ** 32 + (-1234), 'x')

'-10011010010'

'-4d2'

'11111111111111111111101100101110'

'fffffb2e'

#### pack/unpack large integers (from bytes)

In [159]:
from sys import byteorder

# let's see the byteorder first 
x = 0x01020304
x.to_bytes(4, 'big')
x.to_bytes(4, 'little')

# or.. 
byteorder


# unpack 

larrrge = b'\x00\x124V\x00x\x90\xab\x00\xcd\xef\x01\x00#\x004'
int.from_bytes(larrrge, 'big')
int.from_bytes(larrrge, 'little')  # default (well.. still need specifing)

# and pack

largeee = 25395299529
largeee.to_bytes(8, 'big')
largeee.to_bytes(8, 'little')

b'\x01\x02\x03\x04'

b'\x04\x03\x02\x01'

'little'

94522842520747284487117727783387188

69120565665751139577663547927094891008

b'\x00\x00\x00\x05\xe9\xad\x84\xc9'

b'\xc9\x84\xad\xe9\x05\x00\x00\x00'

#### complex num

In [181]:
import math 
import cmath 
import numpy 


a = complex(2, 4)
b = complex(3, 1)

# attr
a.real, a.imag, a.conjugate()

# arithmetic
a + b, a - b
a * b, a / b

# about -1 
try:
    math.sqrt(-1)
except ValueError:
    cmath.sqrt(-1)

# cos, sin, tan 
cmath.sin(a), cmath.cos(a), cmath.exp(a)

# with numpy 
num = numpy.array([2 + 3j, 4 + 5j, 6 - 8j])
num * 2 
num - 2
numpy.sin(num)

(2.0, 4.0, (2-4j))

((5+5j), (-1+3j))

((2+14j), (0.9999999999999999+1j))

1j

((24.83130584894638-11.356612711218174j),
 (-11.36423470640106-24.814651485634187j),
 (-4.829809383269385-5.5920560936409816j))

array([ 4. +6.j,  8.+10.j, 12.-16.j])

array([0.+3.j, 2.+5.j, 4.-8.j])

array([   9.15449915   -4.16890696j,  -56.16227422  -48.50245524j,
       -416.4629774 -1431.1134814j ])

#### NaN & Infinity

In [192]:
''' create '''

# NaN 
n1 = float('nan')
n2 = float('Nan')
n3 = float('-NaN')

# Infinity 
i1 = float('-inf')
i2 = float('Infinity')
i3 = float('-infinity')


''' identify '''

from math import isnan, isinf 

for i in [n1, n2, n3]:
    isnan(i)
    
for i in [i1, i2, i3]:
    isinf(i)

' create '

In [210]:
''' nan, inf will propagate in calculations.
'''

# inf 
inff = float('inf')
inff + 1, inff * 10

# nan    
c = float('nan')
c + 1, c - 1

# nan - certain opt
float('inf') / float('inf')    
float('+inf') + float('-inf')  

# nan - not equals to itself 
float('nan') == float('nan')

' nan, inf will propagate in calculations.\n'

(inf, inf)

(nan, nan)

nan

nan

False

#### fraction

In [228]:
from fractions import Fraction as F

a = F(1, 2)
b = F(6, 7)

a.numerator
a.denominator

a + b, a - b
a * b, a / b

F(34, 20).limit_denominator(10)

# frac to float 
float(a)
float(b)

# conv float to frac
flt_num = 5.33
F(
    *flt_num.as_integer_ratio()
)

1

2

(Fraction(19, 14), Fraction(-5, 14))

(Fraction(3, 7), Fraction(7, 12))

Fraction(17, 10)

0.5

0.8571428571428571

Fraction(3000523251735593, 562949953421312)

#### calc with *NumPy*

In [239]:
import numpy as np

na = np.array([1, 2, 3, 4])
nb = np.array([5, 6, 7, 8])

# apply to each one 
na * nb 
na / nb

# func as well 
thrib = lambda x: x**3
thrib(na)

# math func 
np.sqrt(na)
np.log10(na)

# large array 
np.zeros(shape=(10000, 10000), dtype=float)

array([ 5, 12, 21, 32])

array([0.2       , 0.33333333, 0.42857143, 0.5       ])

array([ 1,  8, 27, 64])

array([1.        , 1.41421356, 1.73205081, 2.        ])

array([0.        , 0.30103   , 0.47712125, 0.60205999])

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [251]:
m = np.matrix([
    [1, -2, 3],
    [4, -3, 6],
    [7,  8, 9],
])

m.T 
m.I; 

v = np.matrix([
    [2], 
    [3],
    [4],
])

m * v


np.linalg.det(m)
np.linalg.eigvals(m)
np.linalg.solve(m, v)

matrix([[ 1,  4,  7],
        [-2, -3,  8],
        [ 3,  6,  9]])

matrix([[-1.04166667,  0.58333333, -0.04166667],
        [ 0.08333333, -0.16666667,  0.08333333],
        [ 0.73611111, -0.30555556,  0.06944444]])

matrix([[ 8],
        [23],
        [74]])

72.0

array([13.47955031, -0.96937462, -5.51017569])

matrix([[-0.5       ],
        [-0.        ],
        [ 0.83333333]])

#### rand num

In [292]:
import random as rd

val = [1, 2, 3, 4, 5, 6]

rd.choice(val),\
rd.choice(val),\
rd.choice(val)

rd.sample(val, 3),\
rd.sample(val, 6)  # !> len(val)

rd.shuffle(val)    # rand the list in-place 
'changed: ', val

rd.randint(0, 10)  # [ 0, 10 ]

rd.random()        # [ 0.0, 1.0 )

rd.getrandbits(50) # (bin|int)

rd.seed()          # init seed 
rd.seed(b'walala') # init seed (again)

(5, 2, 1)

([2, 1, 5], [6, 2, 4, 3, 1, 5])

('changed: ', [6, 2, 1, 3, 4, 5])

0

0.42677294921587583

958761442417944

#### basic time conv

In [337]:
from datetime import (
    timedelta, datetime 
)

# --- timedelta ---

s = timedelta(days=3, hours=5)

s
s.days
s.seconds
s.total_seconds()

# --- datetime ---  

start = datetime(2015, 8, 31)

start
start + timedelta(days=100)

# --- today --- 

now = datetime.today()

now
now + timedelta(days=31)

datetime.timedelta(3, 18000)

3

18000

277200.0

datetime.datetime(2015, 8, 31, 0, 0)

datetime.datetime(2015, 12, 9, 0, 0)

datetime.datetime(2018, 7, 31, 18, 26, 51, 318599)

datetime.datetime(2018, 8, 31, 18, 26, 51, 318599)

In [349]:
from datetime import datetime 
from pytz import timezone, utc  # use other modules instead!

# --- leap years --- 

datetime(2000, 3, 1) - datetime(2000, 2, 29) 
datetime(2015, 3, 1) - datetime(2015, 2, 28)

# --- str to date --- 

fut = datetime.strptime('2019-6-30', '%Y-%M-%d')
now = datetime.now()

(fut - now)
(fut - now).days

# --- timezone --- 

date     = datetime(2012, 12, 21, 9, 30, 0)
date_loc = timezone('US/Central').localize(a_date)

date
date_loc

date_trans_again = a_date_loc.astimezone(timezone('Asia/Shanghai'))
date_trans_again

# --- timezone: UTC --- 

date
date.astimezone(utc)

datetime.timedelta(1)

datetime.timedelta(1)

datetime.timedelta(182, 19369, 234213)

182

datetime.datetime(2012, 12, 21, 9, 30)

datetime.datetime(2012, 12, 21, 9, 30, tzinfo=<DstTzInfo 'US/Central' CST-1 day, 18:00:00 STD>)

datetime.datetime(2012, 12, 21, 23, 30, tzinfo=<DstTzInfo 'Asia/Shanghai' CST+8:00:00 STD>)

datetime.datetime(2012, 12, 21, 9, 30)

datetime.datetime(2012, 12, 21, 1, 30, tzinfo=<UTC>)