鏈接在此: [link](https://python-cookbook-3rd-edition.readthedocs.io/zh_CN/latest/c01/p01_unpack_sequence_into_separate_variables.html)

#### slice - naming slice

In [1]:
a = "######0123456789012345678901234567890123456789012345678901234567890"

# just like a[6,17]
#   but created as an object 
pick_natural_num = slice(6,17,1)

# readability!
a[pick_natural_num]

# she's even got attrs!
pick_natural_num.indices
pick_natural_num.start, pick_natural_num.stop, pick_natural_num.step

'01234567890'

(6, 17, 1)

In [2]:
a = 'Hello'

obj = slice(0, 50, 1)

obj                       # slice
obj.indices(len(a))       # tuple 

slice(
    *obj.indices(len(a))  # conv 'indice' to 'slice'
)

# usage
for i in range(*obj.indices(len('Hello'))):
    print(a[i],end='\t')

slice(0, 50, 1)

(0, 5, 1)

slice(0, 5, 1)

H	e	l	l	o

#### Counter - most common elements

In [3]:
from collections import Counter

In [4]:
words = [
    'look','eyes','the', 'eyes', 'the', 'eyes',
    'eyes', "don't", 'under', 'not', 'around', 'the'
]

word_cnt = Counter(words)

word_cnt                 # freq 
word_cnt.most_common(2)  # freq - first two

def hey():
    ''' u're able to access these'''
    word_cnt.items()
    word_cnt.keys()
    word_cnt.values()

# and these 
word_cnt['not'], word_cnt['eyes']  # >> 1, 4

Counter({'look': 1,
         'eyes': 4,
         'the': 3,
         "don't": 1,
         'under': 1,
         'not': 1,
         'around': 1})

[('eyes', 4), ('the', 3)]

(1, 4)

In [5]:
# you can update the count by yourself 

# 0x01 - add counting (manually)
more_words = ['crap','not','eyes'] # >> 2, 5 
for w in more_words:
    word_cnt[w] += 1              
    
# 0x02 - or using update directly 
word_cnt.update(more_words)        # >> 3, 6 -- add again! 
     

word_cnt['not'], word_cnt['eyes']

(3, 6)

In [6]:
word      = words       # above 
word_more = more_words  # above 

a = Counter(word)
b = Counter(word_more)

# arithmetic opt is supported!
a + b 
a - b
b - a
a & b

Counter({'look': 1,
         'eyes': 5,
         'the': 3,
         "don't": 1,
         'under': 1,
         'not': 2,
         'around': 1,
         'crap': 1})

Counter({'look': 1, 'eyes': 3, 'the': 3, "don't": 1, 'under': 1, 'around': 1})

Counter({'crap': 1})

Counter({'eyes': 1, 'not': 1})

#### itemgetter - basis

In [7]:
from operator import itemgetter

# Kind of slicing (but better, for myself)
func_pick_one  = itemgetter(0)
func_pick_more = itemgetter(0,-1)

func_pick_one(
    [1,2,3,4]  # => 'f[0]'
)

func_pick_more(
    [1,2,3,4]  # => 'f[0] and f[-1]'
)

1

(1, 4)

#### itemgetter - sort dict by giving key

In [8]:
rows = [
    {'fname': 'Brian', 'uid': 1003},
    {'fname': 'David', 'uid': 1004},
    {'fname': 'John', 'uid': 1001},
    {'fname': 'Big', 'uid': 1002}
]

In [9]:
# 'idx' for list, tuple
# 'key' for dict (only can used in 'sorted()')

by_fname_itg = sorted(rows, key=itemgetter('uid'))  # faster than 'lambda'
by_fname_itg

by_fname_lmd = sorted(rows, key=lambda r: r['uid'])
by_fname_lmd

# also, there's max/min
min(rows, key=itemgetter('uid'))
max(rows, key=itemgetter('uid'))

[{'fname': 'John', 'uid': 1001},
 {'fname': 'Big', 'uid': 1002},
 {'fname': 'Brian', 'uid': 1003},
 {'fname': 'David', 'uid': 1004}]

[{'fname': 'John', 'uid': 1001},
 {'fname': 'Big', 'uid': 1002},
 {'fname': 'Brian', 'uid': 1003},
 {'fname': 'David', 'uid': 1004}]

{'fname': 'John', 'uid': 1001}

{'fname': 'David', 'uid': 1004}

#### attrgetter - sort 'cannot be sorted'

In [10]:
from operator import attrgetter

class User:
    def __init__(self, user_id,name='xxx'):
        self.user_id = user_id 
        self.name    = name
    
    def __repr__(self):
        return 'User({})'.format(self.user_id)
    
    
users = [User(40), User(12), User(27)]
users

[User(40), User(12), User(27)]

In [11]:
# select multiple keys
dict_pick_one  = attrgetter('user_id')
dict_pick_more = attrgetter('user_id','name')

[ dict_pick_one(i)  for i in users ]  # User(xx).user_id
[ dict_pick_more(i) for i in users]   # User(xx).user_id, User(xx).name

[40, 12, 27]

[(40, 'xxx'), (12, 'xxx'), (27, 'xxx')]

In [12]:
sorted(
    users,
    key=attrgetter('user_id') # faster than 'lambda'
)

sorted(
    users, 
    key=lambda u: u.user_id   # User - (self) - user_id
)


# max/min are supported 

min(
    users,
    key=attrgetter('user_id')
)

max(
    users,
    key=attrgetter('user_id')
)

[User(12), User(27), User(40)]

[User(12), User(27), User(40)]

User(12)

User(40)

#### group by a specific key

In [13]:
from operator import itemgetter 
from itertools import groupby

rows = [
    {'addr': '5412 N CLARK', 'date': '07/01/2012'},
    {'addr': '5148 N CLARK', 'date': '07/04/2012'},
    {'addr': '2122 N CLARK', 'date': '07/03/2012'},
    {'addr': '5645 N RAVEN', 'date': '07/02/2012'},
    {'addr': '1060 W ADDIS', 'date': '07/02/2012'},
    {'addr': '4801 N BROAD', 'date': '07/01/2012'},
    {'addr': '1039 W GRANV', 'date': '07/04/2012'},
]

In [14]:
# it must be sorted firstly
rows.sort(key=itemgetter('date'))


for date, items in groupby(rows, key=itemgetter('date')):
    print(date)
    
    for i in items:
        print(f'    {i}')

07/01/2012
    {'addr': '5412 N CLARK', 'date': '07/01/2012'}
    {'addr': '4801 N BROAD', 'date': '07/01/2012'}
07/02/2012
    {'addr': '5645 N RAVEN', 'date': '07/02/2012'}
    {'addr': '1060 W ADDIS', 'date': '07/02/2012'}
07/03/2012
    {'addr': '2122 N CLARK', 'date': '07/03/2012'}
07/04/2012
    {'addr': '5148 N CLARK', 'date': '07/04/2012'}
    {'addr': '1039 W GRANV', 'date': '07/04/2012'}

In [15]:
# or you wanna splitting it by grouping it

from collections import defaultdict

rows_by_date = defaultdict(list)

for row in rows:  # rows at above
    
    rows_by_date[      # remember it's a dict (init by us)
        row['date']    # use date ('07/0X/2012') as key 
    ].append(row)      # passing each dict       as value 
    
    
# access by date 
rows_by_date['07/01/2012']
rows_by_date['07/02/2012']

[{'addr': '5412 N CLARK', 'date': '07/01/2012'},
 {'addr': '4801 N BROAD', 'date': '07/01/2012'}]

[{'addr': '5645 N RAVEN', 'date': '07/02/2012'},
 {'addr': '1060 W ADDIS', 'date': '07/02/2012'}]

#### filter elements

In [37]:
nums = [1, 4, -5, 10, -7, 2, 3, -1]

# list comprehension 
[ n    for n in nums if n >= 0 ]
[ n**2 for n in nums if n >= 0 ]  

# generator 
a = ( n for n in nums if n >= 0 )
list(a)

[1, 4, 10, 2, 3]

[1, 16, 100, 4, 9]

[1, 4, 10, 2, 3]

In [36]:
nums = ['1', '2', '-', '4', 'N/A', '5']

# when things got complicated 
def is_int(n):
    ''' is  int  => good 
        not num  => filtered out 
    '''
    try:
        x = int(n)
        return True
    except ValueError:
        return False 

intnums = list(filter(is_int, nums))
intnums

['1', '2', '4', '5']

In [41]:
# and the other one 

import itertools 

addrs = [
    '5412 N CLARK',
    '5148 N CLARK',
    '5800 E 58TH',
    '2122 N CLARK',
    '5645 N RAVENSWOOD',
    '1060 W ADDISON',
    '4801 N BROADWAY',
    '1039 W GRANVILLE',
]

addrs_count = [ 
    0, 3, 10, 4, 1, 7, 6, 1
]


# suppose you wanna show 
#   the addr correspond to count which is larger than 5 
larger_than_five = [ n > 5 for n in counts ]
larger_than_five

list(itertools.compress(
    addrs,
    larger_than_five
))

[False, False, True, False, False, True, True, False]

['5800 E 58TH', '1060 W ADDISON', '4801 N BROADWAY']

#### get sub-dict (by condition)

In [51]:
prices = {
    'ACME': 45.23,
    'AAPL': 612.78,
    'IBM': 205.55,
    'HPQ': 37.20,
    'FB': 10.75
}


# dict comprehension!
#   faster than any of the examples down below
{key: val for key, val in prices.items() if val > 200}
{key: val for key, val in prices.items() if key in {'FB', 'MSFT'}}


# or "dict(a_tuple)"
dict(
    (key, val) for key, val in prices.items() if val > 200
)

# and another one 
{ key:prices[key] for key in prices.keys() & {'FB', 'MSFT'} }

{'AAPL': 612.78, 'IBM': 205.55}

{'FB': 10.75}

{'AAPL': 612.78, 'IBM': 205.55}

{'FB': 10.75}

#### here comes the *namedtuple()*

In [63]:
from collections import namedtuple


Uploader = namedtuple('Uploader', ['name', 'founded'])

up = Uploader('Ubisoft_US', '1986-03-12')

up
up.name, up.founded         # behaves like a class

up2_name, up2_founded = up  # u CAN unpack it (support all tuple opts)
up2_name, up2_founded

Uploader(name='Ubisoft_US', founded='1986-03-12')

('Ubisoft_US', '1986-03-12')

('Ubisoft_US', '1986-03-12')

In [74]:
up._replace(name='EA')  # not changing the original
up._asdict()

Uploader(name='EA', founded='1986-03-12')

OrderedDict([('name', 'Ubisoft_US'), ('founded', '1986-03-12')])

#### calc while convert

In [84]:
# generators!

nums = [2, 4, 6]

# calc sum
sum( x * x for x in nums )
sum((x * x for x in nums))

# join str 
','.join(str(x) for x in [1, 2, 3])

# list file 
import os
if any(name.endswith('.ipynb') for name in os.listdir('.')):
    pass

# get min
profile = [
    {'name':'Bob', 'age': 50},
    {'name':'Fac', 'age': 75},
    {'name':'Ali', 'age': 20},
    {'name':'Zen', 'age': 65}
]
min(s['age'] for s in profile)

56

56

'1,2,3'

20

#### *ChainMap*! (the end)

In [103]:
from collections import ChainMap 

a = {'x': 1, 'z': 3}
b = {'y': 2, 'z': 4}

# combined as One-Dict (logically!!)
c = ChainMap(a, b)

# normal opts
c
c.keys()
c.items(); print()

# repeat? only show the first appeared
c['z']

# and only do modifications on the first dict (change/del)
c['z'] = 'Nope'  # or del it
c['z']

ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4})

KeysView(ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4}))

ItemsView(ChainMap({'x': 1, 'z': 3}, {'y': 2, 'z': 4}))

3

'Nope'